body {
    background: none;
}
p {
    font-size: 1.1em;
}
h1 {
    font-size: 3em;
}
h1, h2 {
    border-bottom: thin solid #DDD;
}
h1, h2, h3, h4 {
    font-weight: 400;
    margin: 20px auto !important;
}
pre > code {
    font-size: 1.1em !important;
}
code {
    font-size: 0.85em !important;
}
span.function {
    color: #900;
    font-family: monospace;
    font-size: 0.8em;
    font-weight: 400;
    border: none;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
blockquote {
    border-left: 2px solid #DDD;
    padding-left: 10px;
}
